/* GLOBAL DARK THEME */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
              url("./images/home main page background.jpg") center/cover fixed no-repeat;
  color: white;
  min-height: 100vh;
}

/* TOP CARD */
.header-card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
}

.logo-box {
  width: 40px;
  height: 40px;
  background: #06b6d4;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
}

nav a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a.active {
  color: #06b6d4;
}

/* CARDS */
.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(12px);
  margin-bottom: 20px;
}

.wrap {
  width: 95%;
  max-width: 1100px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
  background: rgba(0,0,0,0.3);
  color: white;
}

button {
  padding: 12px 20px;
  border-radius: 10px;
  background: #06b6d4;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

button:hover {
  background: #0891b2;
}

/* POPUP */
.popup {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}
